@import "_superSlider.scss";
body{
  margin: 0;
}
nav,footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #316b4a;
}
nav{
  position: relative;
}
nav a{
  padding: 10px;
  margin-right: 20px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
nav img{
  width: 50px;
}
footer p{
  padding: 20px;
  color: white;
}
.smaller a{
  font-size: 17px;
}
.super-slider{
  margin: 20px 0;
}

footer {

  @media screen and (max-width: 480px) {
    flex-direction: column;

    p{
      text-align: center;
      padding: 5px;
    }
  }
}

.Header-links {
  &--desktop {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &--mobile{
    @media screen and (min-width: 480px) {
      display: none;
    }
  }
  &--mobile {

    &-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      z-index: 1;

      &-link {
        text-align: center;
        text-decoration: none;
        color: darkolivegreen;
        padding: 10px;
        border: darkolivegreen solid 1px;
        margin: 0;
      }

      &.inactive{
        display: none;
      }
    }

    &-hamburger {

      width: 1.5rem;
      height: .2rem;
      background-color: white;
      position: relative;
      border-radius: .1rem;
      margin: 20px;

      &:before {
        border-radius: .1rem;
        position: absolute;
        top: -.5rem;
        display: block;
        content: "";
        width: 1.5rem;
        height: .2rem;
        background-color: white;
      }
      &:after {
        border-radius: .1rem;
        position: absolute;
        bottom: -.5rem;
        display: block;
        content: "";
        width: 1.5rem;
        height: .2rem;
        background-color: white;
      }

    }
  }
}
