.ss-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap
}

.ss-container.loading {
  min-height: 50px;
}

.ss-container.loading:before {
  display: block;
  content: "";
  background-image: url(https://loading.io/spinners/google/index.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(65, 65, 65, .8)
}

.ss-slide {
  display: flex;
  position: relative;
  left: 0;
  transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.ss-arrow {
  position: absolute;
  color: #fff;
  top: calc(50% - 40px);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
  cursor: pointer
}

.ss-arrow:hover {
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.ss-left {
  left: 20px
}

.ss-right {
  right: 20px
}

.ss-bullets {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  z-index: 1
}

.ss-bullet {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer
}

.ss-bullet.active {
  background-color: #fff
}

.ss-bullet:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

body {
  margin: 0
}

nav, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #556b2f
}

nav {
  position: relative
}

nav a {
  padding: 10px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 20px;
  color: #fff
}

nav img {
  width: 50px
}

footer p {
  padding: 20px;
  color: #fff
}

.smaller a {
  font-size: 24px;
}

.super-slider {
  margin: 20px 0
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column
  }

  footer p {
    text-align: center;
    padding: 5px
  }
}

@media screen and (max-width: 480px) {
  .Header-links--desktop {
    display: none
  }
}

@media screen and (min-width: 480px) {
  .Header-links--mobile {
    display: none
  }
}

.Header-links--mobile-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 1
}

.Header-links--mobile-dropdown-link {
  text-align: center;
  text-decoration: none;
  color: #556b2f;
  padding: 10px;
  border: #556b2f solid 1px;
  margin: 0
}

.Header-links--mobile-dropdown.inactive {
  display: none
}

.Header-links--mobile-hamburger {
  width: 1.5rem;
  height: .2rem;
  background-color: #fff;
  position: relative;
  border-radius: .1rem;
  margin: 20px
}

.Header-links--mobile-hamburger:before {
  border-radius: .1rem;
  position: absolute;
  top: -0.5rem;
  display: block;
  content: "";
  width: 1.5rem;
  height: .2rem;
  background-color: #fff
}

.Header-links--mobile-hamburger:after {
  border-radius: .1rem;
  position: absolute;
  bottom: -0.5rem;
  display: block;
  content: "";
  width: 1.5rem;
  height: .2rem;
  background-color: #fff
}

/*# sourceMappingURL=index.css.map */
