/*
Error: An @import loop has been found: register.scss imports itself
        on line 2 of register.scss
        from line 2 of register.scss

1: @import "index.scss";
2: @import "register.scss";
3: body {
4:   background: #eee !important;
5: }
6: 
7: .wrapper {

Backtrace:
register.scss:2
register.scss:2
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:563:in `handle_import_loop!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:318:in `visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:88:in `with_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
C:/Ruby22/bin/sass:23:in `load'
C:/Ruby22/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: An @import loop has been found: register.scss imports itself\A         on line 2 of register.scss\A         from line 2 of register.scss\A \A 1: @import \"index.scss\";\A 2: @import \"register.scss\";\A 3: body {\A 4:   background: #eee !important;\A 5: }\A 6: \A 7: .wrapper {"; }
